<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add Instruction">
            <!--  <h5>Form controls</h5> -->
            <small id="emailHelp" class="form-text text-muted">Please fill all details carefully.</small>
            <hr />

            <div class="subject-form">
                <!--    <h3>Create Subject</h3> -->
                <form>
                    <div class="mb-3">
                        <label class="form-label">Instruction</label>
                        <input class="form-control"/>
                      <!--   <div *ngIf="form.controls['subName'].invalid && form.controls['subName'].touched" class="text-danger">
                            Instruction is required.
                        </div> -->
                    </div>

                    <button class="btn btn-primary" type="submit">Create</button>
                    <button class="btn btn-secondary ms-2" type="button" (click)="cancel()">Cancel</button>
                </form>
            </div>

        </app-card>
    </div>

</div>
