<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Add New Service">
            <!--  <h5>Form controls</h5> -->
            <small id="emailHelp" class="form-text text-muted">Please fill all details carefully.</small>
            <hr />

            <div class="subject-form">
                <!--    <h3>Create Subject</h3> -->
                <!--   <form [formGroup]="form" (ngSubmit)="submit()"> -->
                <form>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Service</label>
                                <input class="form-control" />

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Service Category</label>
                                <select class="form-control mt-2">
                                    <option value="">Select Category</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Service Features</label>
                                <input class="form-control" type="text" />

                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-4">


                            <div class="form-group">
                                <label for="exampleInputEmail1">Day Charge</label>
                                <input class="form-control" type="number" />

                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Hourly Charge</label>
                                <input class="form-control" type="number" />

                            </div>
                        </div>
                        <div class="col-md-4">


                            <div class="form-group">
                                <label for="exampleInputEmail1">GST</label>
                                <input class="form-control" />

                            </div>
                        </div>

                    </div>
                    <div class="row">

                       
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="exampleInputEmail1">Remark</label>
                                <input class="form-control" />

                            </div>
                        </div>

                    </div>
                    <div class="mb-3">

                        <!--  <div *ngIf="form.controls['subName'].invalid && form.controls['subName'].touched" class="text-danger">
                            Name is required.
                        </div> -->
                    </div>
                    <!--  <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitting">Create</button>
                    <button class="btn btn-secondary ms-2" type="button" (click)="cancel()">Cancel</button> -->
                    <button class="btn btn-primary" type="submit">Create</button>
                    <button class="btn btn-secondary ms-2" type="button">Cancel</button>
                </form>
            </div>

        </app-card>
    </div>

</div>
